<h1>Lepers#score</h1>
<p><%= @attempt %></p>
<p><%= @grid %></p>
<p><%= @start_time %></p>
<p><%= @time_taken %></p>
<p><%= @result[:translation] %></p>
<p><%= @result[:score] %></p>
<p><%= @result[:message] %></p>





